body{
    width: 600px;
    margin: 0 auto;
}

.menu-box{
   display: flex; 
   justify-content: space-between;
   
   
}

.menu{
    border:1px solid #000;
    width: 100px;
    height: 50px;
    margin: auto;
    background-color:#96C78C ;
    text-align: center;
    line-height: 51px;
}

.main-text{
    margin-top: 50px;
    color: red;
}

.main-img{
    width: 80vh;
    height: 35%;
    
    
}